{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Welcome to baabtra</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="maindiv">
        <div class="headerdiv">
            <div class="logodiv">
                <img class="logo" src="{% static 'images/logo.png'%}" alt="">
            </div>
            <div class="buttondiv">
                <button style="background-color: rgb(148, 148, 255);color: #33322d;">Login</button>
                <button style="background-color: chartreuse; color: #33322d;">Register</button>
            </div>
        </div>
        <div class="navdiv">
            <a href="/home/">HOME</a>
            <a href="/courses/">COURSES</a>
            <a href="/contact/">CONTACT US</a>
        </div>

        <div class="bannerdiv"></div>

        <div class="headingdiv">
            <h2 style="font-family: fantasy; padding-top: 25px;font-weight: normal;letter-spacing: 1px;word-spacing: 2px;margin-top: 0px; ">GETTING A SOFTWARE JOB IS SO EASY WITH OUR INTERNSHIP PROGRAM</h2>
        </div>
        <div class="maingrid">
            <div class="grid">
                <h3 align="center">Our Office</h3>
                <img src="{% static 'images/office.jpg' %}" alt="" width="250">
            </div>
            <div class="grid">
                <h3 align="center">Best Python Training In Calicut</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit magni repellendus fugit? Illum odio qui asperiores molestiae! Eum quidem, suscipit, eveniet quaerat animi illum debitis eligendi earum atque maiores fugit hic quis. Natus veniam porro officiis dolores ex eaque deleniti non, reprehenderit in tempore. Minima unde aspernatur cupiditate cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos velit similique esse perspiciatis excepturi voluptates, ullam dolorum illo architecto magnam officiis doloremque! Earum id veniam quia tempora quos enim illo.</p>
            </div>
            <div class="grid">
                <h3 align="center">Life @ Baabtra</h3>
                <iframe width="250" height="250" src="https://www.youtube.com/embed/LIGnK77l1fA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;autoplay;" allowfullscreen ></iframe>
            </div>
        </div>
        <div class="footcontainer">
            <div class="footgrid">
                baabtra<br/>
                Mentoring partner
            </div>
            <div class="footgrid">
                <b>Email :</b> info@baabtra.com<br/>
                <b>Phone :</b> +91-8592 058 444
            </div>
            <div class="footgrid">
                <b>Address:</b> <br/>
                5<sup>th</sup> Floor, CaFIT Square,<br/>Hilite Business Park, Kozhikode
            </div>
        </div>
    </div>
</body>
</html>