body{
    margin: 0px;
}
.headerdiv{
    height: 85px;
}
.logodiv{
    float: left;
    width: 50%;
}
.logo{
    height: 80px;
}
.buttondiv{
    float: right;
    padding-right: 30px;
    padding-top: 30px;
    word-spacing: 5px;
}
.navdiv{
    text-decoration: none;
    width: 100%;
    background-color: #003651;
    height: 30px;
    padding-top: 10px;
}
button{
    height: 30px;
    width: 90px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50px;
    border: none
}
a{
    color: white;
    text-decoration: none;
    margin-top: 30px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 20px;
}
.formdiv{
    background-image: linear-gradient(to right,#E0EAFC,#CFDEF3);
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 550px;
}
table{
    height: 500px;
    width: 500px;
    background-color: white;
    border-width: thin;
    border-style: solid;
}
tr{
    padding: none;
    margin: none;
}
td{
    padding: none;
    margin: none;
}
label{
    padding-left: 30px;
}
.text{
    width: 250px;
    height: 20px;
    margin-left: 40px;
}
.footcontainer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background-color: cadetblue ;
    padding-top: 20px;
}
.footgrid{
    padding: 5px;
    padding-left: 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}



